body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5FFFF;
}
#main {
    border: 1px solid black;
    background-color: #DCDCDC;
    width: 300px;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
#text {
    border: 1px solid black;
    width: 100%;
    font-size: 32px;
    color: white;
    background-color: black;
    text-align: right;
    box-sizing: border-box;
    padding-right: 5px;
    margin-bottom: 10px;
}
.button-row {
    display: flex;
    width: 100%;
    gap: 8px;
}
.button {
    font-size: 32px;
    color: white;
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
    flex: 1;
}
.button:hover {
    background-color: #3b3b3b;
}
#divide, #multiply, #subtract, #add {
    background-color: #0F52BA;
}
#divide:hover, #multiply:hover, #subtract:hover, #add:hover {
    background-color: #083B89;
}